/*
 * Copyright (c) 2021-2022, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
#include "tegra194-wico-camera-imx334.dtsi"

#define CAMERA_I2C_MUX_BUS(x) (0x1E + x)
#define CAM_HEATER_GPIO	TEGRA194_MAIN_GPIO(Q, 5)
#define CAM_RESET1   TEGRA194_MAIN_GPIO(P, 5)
#define CAM_RESET0	TEGRA194_MAIN_GPIO(P, 4)

// Pin 120 Cam Reset1 P, 5 (x4.1, x4.2)
// Pin 114 Cam Reset0 P, 4 (x4.3)
// pin 116: CAM0_MCLK = EXTPERIPH1_CLK (x4.3)
// pin 122: CAM1_MCLK = EXTPERIPH2_CLK (x4.2, x4.1)

/* camera control gpio definitions */

/ {
	i2c@3180000 {
		tca9547@70 {
			compatible = "nxp,pca9547";
			reg = <0x70>;
			#address-cells = <1>;
			#size-cells = <0>;
			skip_mux_detect = "yes";
			vcc-supply = <&p3509_vdd_sys_en>;
			vcc_lp = "vcc";
			force_bus_start = <CAMERA_I2C_MUX_BUS(0)>;

            // x4.3
			i2c@0 {
				reg = <0>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;

				imx334_a@37 {
					/* Define any required hw resources needed by driver */
					/* ie. clocks, io pins, power sources */
					clocks = <&bpmp_clks TEGRA194_CLK_EXTPERIPH1>,
							 <&bpmp_clks TEGRA194_CLK_PLLP_OUT0>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					channel = "a";
					reset-gpios = <&tegra_main_gpio CAM_RESET0 GPIO_ACTIVE_HIGH>;
					heater-gpios = <&tegra_main_gpio CAM_HEATER_GPIO GPIO_ACTIVE_HIGH>;
				};
			};

            //x4.2
			i2c@1 {
				reg = <1>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;

				imx334_c@37 {
					/* Define any required hw resources needed by driver */
					/* ie. clocks, io pins, power sources */
					clocks = <&bpmp_clks TEGRA194_CLK_EXTPERIPH2>,
							 <&bpmp_clks TEGRA194_CLK_PLLP_OUT0>;
					clock-names = "extperiph2", "pllp_grtba";
					mclk = "extperiph2";
					channel = "c";
					reset-gpios = <&tegra_main_gpio CAM_RESET1 GPIO_ACTIVE_HIGH>;
					heater-gpios = <&tegra_main_gpio CAM_HEATER_GPIO GPIO_ACTIVE_HIGH>;
				};
			};

            //x4.1
			i2c@2 {
				reg = <2>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;

				imx334_e@37 {
					/* Define any required hw resources needed by driver */
					/* ie. clocks, io pins, power sources */
					clocks = <&bpmp_clks TEGRA194_CLK_EXTPERIPH2>,
							 <&bpmp_clks TEGRA194_CLK_PLLP_OUT0>;
					clock-names = "extperiph2", "pllp_grtba";
					mclk = "extperiph2";
					channel = "e";
					reset-gpios = <&tegra_main_gpio CAM_RESET1 GPIO_ACTIVE_HIGH>;
					heater-gpios = <&tegra_main_gpio CAM_HEATER_GPIO GPIO_ACTIVE_HIGH>;
				};
			};
		};
	};
};
